{
  "presets": [
    [ "@babel/preset-env",
      {
        "targets": {
          "browsers" : ["last 2 versions", "ie >= 11"]
        },
        "useBuiltIns": "usage",
        "corejs":  {
            "version": 3,
            "proposals": true
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime", 
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-arrow-functions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core/styles",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "styles"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core/colors",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "colors"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}
